<html>
<head>
<title>Pig Latin Fact</title>
</head>
<body>
Click the URL to get the following fact shown in Pig Latin. <br><br><b>{{ fact }}</b><br><br>
<a href="{{ url_for('url', data=pig_url) }}">"{{ pig_url }}"</a>
</body>
</html>
